.active{
    border-radius: 10px;
    border: 2px rgb(255, 174, 0) solid;
    padding: 0 5px;
}
nav form::before{
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
}

nav input{
    width: 270px;
    height: 30px;
    padding: 10px;
}
nav .search-div > div{
    width: 310px;
    border-top: 1px black solid;
    max-height: 120px;
    overflow-y: scroll;
}
nav .search-div > div p{
    padding: 5px;
    background-color: white;
    color: grey;
    cursor: pointer;
    border-bottom: 1px black solid;
    height: 30px;
}
nav ul li{
    transition: 0.3s;
    cursor: pointer;
}

nav ul li a{
    padding-bottom: 2px;
}

nav ul li:hover a{
    color: rgb(255, 174, 0) !important;
    border-bottom: 2px rgb(255, 174, 0) solid;
}
nav ul li:hover a.active{
    border-width: 0;
}
@media (min-width:767px) and (max-width:992px) {
    nav .container{
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }
}

.display-flex{
    display: flex !important;
}

@media (max-width:767px){
    nav input{
        width: 170px;
    }
    nav .container ul{
        z-index: 1000;
        flex-direction: column;
        position: absolute;
        top:70px;
        right: 0;
        width: 150px;
        background-color: black;
        gap: 0;
    }
    nav .container ul li{
        border-bottom: 1px white solid;
        padding: 5px 0;
        width: 100%;
    }
    nav .container ul li:last-child{
        border-bottom: none;
    }
}
@media (max-width:400px){
    nav input{
        width: 130px;
    }
}

.carousel{
    overflow: hidden;    
    padding: 0 !important;
    background-color: black;
}
.carousel .img-slider {
    position: relative;
    animation: slider 10s infinite;
    padding: 0 !important;
}
.carousel .img-slider img{
    padding: 0 !important;
}

    @keyframes slider {
        0%{
            left: 0;
        }
        15%{
            left: -100%;
        }
        30%{
            left: -200%;
        }
        45%{
            left: -300%;
        }
        60%{
            left: -400%;
        }
        65%{
            left: -430%;
        }
        100%{
            left: 0;
        }
    }

@media (max-width:550px) {
    body .categories{
        grid-template-columns: repeat(1 , 1fr) !important;
    }
}
.categories .category{
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
    border: 3px black solid;
    overflow: hidden;
}
.categories .category:hover{
    border: 5px rgb(255, 174, 0) solid;
}
.categories .category:hover img{
    border-radius: 5px 5px 0 0;
    filter: blur(100%);
}
.categories .category:hover p{
    color: rgb(255, 174, 0);
    position: relative;
    animation: leftToRight 2s infinite;
}
.categories .category img{
    border-radius: 7px 7px 0 0;
}



@keyframes leftToRight {
    0%{
        left: 0;
    }
    10%{
        left: 20px;
    }
    20%{
        left: 0;
    }
    30%{
        left: 20px;
    }
    40%{
        left: 0;
    }
    50%{
        left: 20px;
    }
    60%{
        left: 0;
    }
    70%{
        left: 20px;
    }
    80%{
        left: 0;
    }
    90%{
        left: 20px;
    }
    100%{
        left: 0;
    }
}

footer ul li:nth-child(2){
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
}



